<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport"
			content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<link rel="stylesheet" href="<%= BASE_URL %>static/index.<%= VUE_APP_INDEX_CSS_HASH %>.css" />
		<title>diy</title>
		<!--preload-links-->
		<!--app-context-->
		<script type="text/javascript">
			var data = {
				name: "店铺名",
				service: true,
				nav_bar_flag: false,
				nav_bar_color: "#000000",
				nav_bar_bgcolor: "#ffffff",
				bgColor: "#ffffff", //首页背景颜色
				top_box_flag: '1',
				top_box_img: '',
				top_box_color: '#F8D188',
				top_box_color2: '#F8D188',
				top_box_color_rotate: 180,
				top_box_radius: 50,
				top_box_height: 415,
				btns: { //悬浮按钮配置
					type: 'btns',
					icon: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p4.jpg", //主按钮图片
					data: [
						//主按钮触发后弹出的按钮列表
						{
							id: 0,
							icon: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p1.jpg", //按钮图片地址
							type: "1", //按钮点击触发的样式类型 1为弹窗类型 2为超链接跳转类型
							type_image: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p1.jpg", //弹窗类型下的图片
							type_link: "http://www.baidu.com" //超链接类型下的地址
						},
						{
							id: 1,
							icon: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p2.jpg",
							type: "2",
							type_image: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p3.jpg",
							type_link: "http://www.baidu.com"
						},
					]
				},
				alertAd: {//进入后的弹窗、广告提醒配置
					type: "alertAd",
					data: [
						{
							id: 0,
							link: "http://www.baidu.com", //弹窗广告的跳转超链接
							url: "http://dingxiang.netsun.testwebsite.cn/public/img/mb-swiper-img2.jpg", //弹窗广告的图片
							show_type: "1" //1：进入商城只显示一次广告弹窗，再次进入商城依旧显示一次 2：每次进入该商城页面显示广告弹窗
						},
						{
							id: 1,
							link: "http://www.baidu.com",
							url: "http://dingxiang.netsun.testwebsite.cn/public/img/mb16-img3.jpg",
							show_type: "2"
						}
					]
				},
				options: [
					//首页组件配置数据
					{
						type: "search",
						initValue: "",
						shape: "round", //外观形状 round-圆角  square-方形
						bgColor: "#EBC691",
						placeholder: "",
						inputAlign: "left", //输入框内容水平对齐方式
						color: "#A2722F",
						placeholderColor: "#909399",
						clearabled: true, //是否启用清除控件
						showAction: false, //是否显示右侧控件(右侧的"搜索"按钮)
						leftPic: true, //是否显示左侧图片位置logo
						leftPicWidth: 30,
						leftPicSrc: 'http://market.netsun.testwebsite.cn/Public/Upload/diy/61e12707ca27f.png',
						actionText: "搜索", //右侧控件文字
						borderColor: "#DAAD6D"
					},
					{
						type: "menu",
						isWrap: 'nowrap',
						col: "6", //布局类型： 4列或5列
						shape: "square",  //图标形状 circle-圆型  square-方形
						title_color: "#5C4604",
						data: [{
								id: 0,
								title: "标题1",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p1.jpg",
								link: "http://www.baidu.com"
							},
							{
								id: 1,
								title: "标题2",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p2.jpg",
								link: "http://www.baidu.com"
							},
							{
								id: 2,
								title: "标题3",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p3.jpg",
								link: "http://www.baidu.com"
							},
							{
								id: 3,
								title: "标题4",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p4.jpg",
								link: "http://www.baidu.com"
							},
							{
								id: 4,
								title: "标题5",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p5.jpg",
								link: "http://www.baidu.com"
							},
							{
								id: 5,
								title: "标题6",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p6.jpg",
								link: "http://www.baidu.com"
							},
							{
								id: 6,
								title: "标题7",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p6.jpg",
								link: "http://www.baidu.com"
							},
							{
								id: 7,
								title: "标题8",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p6.jpg",
								link: "http://www.baidu.com"
							},
						]
					},
					{
						type: "swiper", //组件类型
						width: 375,
						height: 250,
						diyRadius: 20,
						diyPadding: 20,
						diy: false, //是否使用自定义高度
						diyHeight: 400, //自定义高度值
						data: [
							{
								id: 0,
								image: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p7.jpg",
								link: "http://www.baidu.com"
							},
							{
								id: 1,
								image: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p8.jpg",
								link: "http://www.baidu.com"
							},
							{
								id: 2,
								image: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p9.jpg",
								link: "http://www.baidu.com"
							},
						],
					},
					{
						type: "hq", //选项卡类型资讯列表
						show_bar: "1", //是否显示底部的滑块
						activeColor: "#2979ff", //tabs已激活颜色
						inactiveColor: "#303133", //tabs未激活颜色
						tabs_bg_color: "", //tabs背景颜色
						list_bg_color: "#f8f8f8", //列表背景颜色
						tabsId: [],
						tabs: []
					},
					{
						type: "news", //选项卡类型资讯列表
						show_bar: "1", //是否显示底部的滑块
						activeColor: "#2979ff", //tabs已激活颜色
						inactiveColor: "#303133", //tabs未激活颜色
						tabs_bg_color: "", //tabs背景颜色
						list_bg_color: "#f8f8f8", //列表背景颜色
						tabsId: [[1]],
						tabs: [
							{
								name: '国内动态', //tabs标题
								data: [
									{
										title: "淮南轴承高精密圆锥滚子车间 被认定为安徽省数字化车间",
										id: '8',
										dtime: '2022-01-06 20:12:37',
										source: '聊城日报'
									},
									{
										title: "398项！人本2021年专利申请和授权量创新高",
										id: '7',
										dtime: '2022-01-06 20:12:37',
										source: '聊城日报'
									},
									{
										title: '临清市：轴承产业迈向中高端',
										id: '6',
										dtime: '2022-01-06 20:12:37',
										source: '聊城日报'
									},
									{
										title: '临清市：轴承产业迈向中高端',
										id: '5',
										dtime: '2022-01-06 20:12:37',
										source: '聊城日报'
									},
									{
										title: "我国自润滑轴承“横空出世”，实现反向输出",
										id: '4',
										dtime: '2022-01-06 20:12:37',
										source: '聊城日报'
									},
								]
							}, 
							
						]
					},
					{
						type: 'shopDiy',
						list_bg_color: '#f8f8f8',
						data: [
							{
								id: '1',
								login: 'toocle3',
								name: '网盛生意宝股份有限公司线上店铺',
								logo: 'http://market.netsun.testwebsite.cn/Public/Upload/diy/61e3935bdc488.png',
								tag: ['限时直降'],
								tag_color: '#fff',
								tag_color_bg: '#f90',
								header_color: '#fff',
								header_bg_style: '1',
								header_bg_src: 'http://market.netsun.testwebsite.cn/Public/Upload/diy/61e392fa4fa0b.png',
								header_bg: '#aa55ff',
								header_bg2: '#5555ff',
								data: [
									{
										id: "246",
										cate: "0",
										sid: "4474",
										cpid: "3798419",
										cid: "84691",
										cctime: "141549",
										cdate: "2022-01-12",
										ctime: "2022-01-12 10:10:30",
										intro: "描述内径范围：10-110mm产品等级：P4震动级别：V3轴承材质：轴承钢起批数量：100套深沟球轴承的应用范围非常广，它们适用于高速和超高速，适应两个方向的径向和轴向载荷，并且几乎不需要维护，深沟球轴承是应用较广泛的轴承类型，欧凯轴承提供多种设计、变型和尺寸的深沟球轴承。深沟球轴承类型有单列和双列两种，深沟球结构还分密封和开式两种结构，开式是指轴承不带密封结构，密封型深沟球分为防尘密封和防油密封。防尘密封盖材料为钢板冲压，只起到简单的防止灰尘进入轴承滚道。防油型为接触式油封，能有效的阻止轴承内的润滑脂外溢。深沟球轴承主要承受径向载荷，也可同时承受径向载荷和轴向载荷。当其仅承受径向载荷时，接触角为零。当深沟球轴承具有较大的径向游隙时，具有角接触轴承的性能，可承受较大的轴向载荷 ，深沟球轴承的摩擦系数很小，极限转速也很高。 ",
										login: "toocle3",
										name: "6410-2RS 深沟球轴承(内测)",
										pic1: "http://img.i.album.toocle.com/0-0-0-0/2022/01/12/15/61de3861e0915.png",
										price: "0.10",
										zt: "1",
										uptime: "2022-01-13 09:50:17",
										stock: "1000",
										unit: "件",
										model: "内径范围：10-110mm",
										producer: "欧凯轴承",
										send_day: "7",
										send_regional: "1133",
										brand: "",
										origin: "",
										new: "0",
										talk_price: "2",
										self_address: "",
										state: "1",
										status: "1",
										reason: "",
										remark: "",
										post_time: "2022-01-12 14:55:09",
										tag: null,
										tj: "1"
									},
									{
										id: "245",
										cate: "0",
										sid: "3958",
										cpid: "3789520",
										cid: "84691",
										cctime: "141549",
										cdate: "2021-11-09",
										ctime: "2021-11-09 22:21:59",
										intro: "",
										login: "toocle3",
										name: "棒球帽不议价自提内测",
										pic1: "http://img.i.album.toocle.com/0-0-0-0/2021/11/09/11/618a83921bf11.jpg",
										price: "0.01",
										zt: "1",
										uptime: "2022-01-13 09:50:17",
										stock: "30",
										unit: "件",
										model: "Elaho Cap 23198",
										producer: "始祖鸟",
										send_day: "7",
										send_regional: "11",
										brand: "始祖鸟",
										origin: "加拿大",
										new: "1",
										talk_price: "2",
										self_address: "杭州",
										state: "1",
										status: "1",
										reason: "",
										remark: "",
										post_time: "2022-01-13 09:50:01",
										tag: null,
										tj: "1"
									},
								]
							}
						]
					},
					{
						type: "menu",
						isWrap: 'wrap',
						col: "6", //布局类型： 4列或5列
						shape: "square",  //图标形状 circle-圆型  square-方形
						title_color: "#000000",
						data: [{
								id: 0,
								title: "标题1",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p1.jpg",
								link: "http://www.baidu.com"
							},
							{
								id: 1,
								title: "标题2",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p2.jpg",
								link: "http://www.baidu.com"
							},
							{
								id: 2,
								title: "标题3",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p3.jpg",
								link: "http://www.baidu.com"
							},
							{
								id: 3,
								title: "标题4",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p4.jpg",
								link: "http://www.baidu.com"
							},
							{
								id: 4,
								title: "标题5",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p5.jpg",
								link: "http://www.baidu.com"
							},
							{
								id: 5,
								title: "标题6",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p6.jpg",
								link: "http://www.baidu.com"
							},
						]
					},
					{
						type: "coupon", //优惠券
						style: "1", //优惠券样式 1-列表 2-宫格
						bg1_color: "#EFC480", //优惠券渐变色 左
						bg2_color: "#EFC480", //优惠券渐变色 右
						font1_color: "#4F3A1E", //标题颜色
						font2_color: "#A8700D", //描述小字颜色
						btnbg_color: "#FFFFFF", //按钮背景色
						btn_color: "#A8700D", //按钮文本色
						dataId: "", //优惠券的列表id 逗号分隔 "1,2,3,4,5"
						data: [ //优惠券详细数据列表
							{
								id: 1,
								title: "新用户代金券", //名称
								cate: "1", //优惠券类型 1满减券 2瞒折券
								coupon: 99, //优惠券额度
								term: 300, //优惠券使用门槛
								number: 200, //总数量
								receive_num: 55, //已领数量
								time1: '2021-10-11', //使用起始日期
								time2: '2021-10-12', //使用结束日期
							},
							
						]
					},
					{
						type: "ad", //广告魔方
						style: "3", //样式1-7
						diy: false, //是否使用自定义高度
						diyHeight: 400, //自定义高度值
						data: [{
								id: 0,
								image: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p1.jpg",
								link: "http://www.baidu.com",
							},
							{
								id: 1,
								image: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p2.jpg",
								link: "http://www.baidu.com",
							},
							{
								id: 2,
								image: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p3.jpg",
								link: "http://www.baidu.com",
							},
							{
								id: 3,
								image: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p4.jpg",
								link: "http://www.baidu.com",
							},
							{
								id: 4,
								image: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p5.jpg",
								link: "http://www.baidu.com",
							},
						]
					},
					{
						type: "title",
						title: "标题栏",
						titleColor: "#000000",
						bgStyle: "1", //背景样式
						bg: "http://dingxiang.netsun.testwebsite.cn/public/img/title1.png" //自定义背景样式，为空时使用自带背景样式图片
					},
					{
						type: "menu",
						col: "5",
						shape: "square",
						title_color: "#000000",
						data: [{
								id: 0,
								title: "标题1",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p1.jpg",
								link: "http://www.baidu.com"
							},
							{
								id: 1,
								title: "标题2",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p2.jpg",
								link: "http://www.baidu.com"
							},
							{
								id: 2,
								title: "标题3",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p3.jpg",
								link: "http://www.baidu.com"
							},
							{
								id: 3,
								title: "标题4",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p4.jpg",
								link: "http://www.baidu.com"
							},
							{
								id: 4,
								title: "标题5",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p5.jpg",
								link: "http://www.baidu.com"
							},
						]
					},
					{
						type: "productDiy", //自定义商品
						style: "1", // 1-宫格 2-列表
						col_num: "3", //单行列数
						list_bg_color: "#f8f8f8", //列表背景颜色
						buy_btn_color: "#2979ff", //按钮背景色
						dataId: "", //自定义商品id列表 逗号分隔 "1,2,3,4,5"
						data: [
							{
								id: '246',
								pname: '居家生活北欧风简约水洗棉床上四件套全棉纯棉100夏季被套床单床笠三件套4', //标题
								psub: '100%精梳全棉水洗棉 超柔触感 裸睡佳选', //描述
								pimage: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p1.jpg",
								price: 299,
							},
							{
								id: '245',
								pname: '极简全棉纯棉床上用品四件套现代简约北欧男床单3三件套床笠被套',
								psub: '100%纯棉面料 真133*72高密斜纹喷气款 佳品',
								pimage: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p2.jpg",
								price: 236,
							},
							{
								id: '244',
								pname: '北欧抱枕靠垫沙发靠垫办公室腰靠枕床头靠背垫',
								psub: '天鹅绒抱枕套不含芯',
								pimage: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p3.jpg",
								price: 40,
							},
							{
								id: '192',
								pname: '源氏木语全实木沙发橡木现代简约木沙发客厅家具北欧布艺沙发组合',
								psub: 'FAS级橡木 12cm宽大扶手 橡木铺板 带插座',
								pimage: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p4.jpg",
								price: 8200,
							},
						]
					},
					{
						type: "productTabs", //选项卡类型商品列表
						style: "1", // 1-宫格 2-列表
						col_num: "2", //单行列数
						show_bar: "1", //是否显示底部的滑块
						activeColor: "#2979ff", //tabs已激活颜色
						inactiveColor: "#303133", //tabs未激活颜色
						tabs_bg_color: "", //tabs背景颜色
						list_bg_color: "#f8f8f8", //列表背景颜色
						buy_btn_color: "#2979ff", //按钮背景颜色
						tabsId: [[1]],
						tabs: [
							{
								name: '居家', //tabs标题
								data: [//该tabs下的列表商品
									{
										id: 0,
										pname: '居家生活北欧风简约水洗棉床上四件套全棉纯棉100夏季被套床单床笠三件套4',
										psub: '100%精梳全棉水洗棉 超柔触感 裸睡佳选',
										pimage: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p1.jpg",
										price: 299,
									},
									{
										id: 1,
										pname: '极简全棉纯棉床上用品四件套现代简约北欧男床单3三件套床笠被套',
										psub: '100%纯棉面料 真133*72高密斜纹喷气款 佳品',
										pimage: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p2.jpg",
										price: 236,
									},
									{
										id: 2,
										pname: '北欧抱枕靠垫沙发靠垫办公室腰靠枕床头靠背垫',
										psub: '天鹅绒抱枕套不含芯',
										pimage: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p3.jpg",
										price: 40,
									},
									{
										id: 3,
										pname: '源氏木语全实木沙发橡木现代简约木沙发客厅家具北欧布艺沙发组合',
										psub: 'FAS级橡木 12cm宽大扶手 橡木铺板 带插座',
										pimage: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p4.jpg",
										price: 8200,
									},
									{
										id: 4,
										pname: 'Carote麦饭石奶锅不粘锅宝宝辅食锅婴儿煮奶锅雪平锅煮锅泡面锅',
										psub: '玻璃盖、锅深不溢；锅体质保99天、明火通用',
										pimage: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p5.jpg",
										price: 325,
									},
									{
										id: 5,
										pname: '布艺被子收纳袋衣服整理袋加厚装棉被衣物的搬家打包袋子大号家用',
										psub: '健康环保面料 简约美学 给好生活腾出大空间',
										pimage: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p6.jpg",
										price: 77,
									}
								]
							}, 
							
						]
					},
					// {
					// 	type: "richtext", //富文本
					// 	dataId: "1",
					// 	data: "<div style='color: #007aff'>富文本段子<image src='http://dingxiang.netsun.testwebsite.cn/mShop/img/p1.jpg'></div>"
					// },
					
				]
			}
			function saveOptions (opt) {
				console.log(opt)
			}
			
		</script>
			
	</head>
	<body>
		<div id="app"></div>
	</body>
</html>
