<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport"
			content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<link rel="stylesheet" href="<%= BASE_URL %>static/index.<%= VUE_APP_INDEX_CSS_HASH %>.css" />
		<title>diy</title>
		<!--preload-links-->
		<!--app-context-->
		<script type="text/javascript">
			var attr = {
				login: 'ceshi1123',
				wxappid: 'wxc0d7413829128044',
				market: 'Tmarket',
			}
			function saveOptions (opt) {
				console.log(opt)
			}
			
		</script>
			
	</head>
	<body>
		<div id="app"></div>
	</body>
</html>
