<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport"
			content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<link rel="stylesheet" href="<%= BASE_URL %>static/index.<%= VUE_APP_INDEX_CSS_HASH %>.css" />
		<title>diy</title>
		<!--preload-links-->
		<!--app-context-->
		<script type="text/javascript">
			var data = {
				name: "店铺名",
				service: true,
				nav_bar_flag: false,
				nav_bar_color: "#000000",
				nav_bar_bgcolor: "#ffffff",
				bgColor: "#ffffff", //首页背景颜色
				top_box_flag: '1',
				top_box_img: '',
				top_box_color: '#F8D188',
				top_box_color2: '#F8D188',
				top_box_color_rotate: 180,
				top_box_radius: 50,
				top_box_height: 415,
				btns: { //悬浮按钮配置
					type: 'btns',
					icon: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p4.jpg", //主按钮图片
					data: [
						//主按钮触发后弹出的按钮列表
						{
							id: 0,
							icon: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p1.jpg", //按钮图片地址
							type: "1", //按钮点击触发的样式类型 1为弹窗类型 2为超链接跳转类型
							type_image: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p1.jpg", //弹窗类型下的图片
							type_link: "http://www.baidu.com" //超链接类型下的地址
						},
						{
							id: 1,
							icon: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p2.jpg",
							type: "2",
							type_image: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p3.jpg",
							type_link: "http://www.baidu.com"
						},
					]
				},
				alertAd: {//进入后的弹窗、广告提醒配置
					type: "alertAd",
					data: [
						{
							id: 0,
							link: "http://www.baidu.com", //弹窗广告的跳转超链接
							url: "http://dingxiang.netsun.testwebsite.cn/public/img/mb-swiper-img2.jpg", //弹窗广告的图片
							show_type: "1" //1：进入商城只显示一次广告弹窗，再次进入商城依旧显示一次 2：每次进入该商城页面显示广告弹窗
						},
						{
							id: 1,
							link: "http://www.baidu.com",
							url: "http://dingxiang.netsun.testwebsite.cn/public/img/mb16-img3.jpg",
							show_type: "2"
						}
					]
				},
				options: [
					//首页组件配置数据
					// search
					{
						type: "search",
						initValue: "",
						shape: "round", //外观形状 round-圆角  square-方形
						bgColor: "#EBC691",
						placeholder: "",
						inputAlign: "left", //输入框内容水平对齐方式
						color: "#A2722F",
						placeholderColor: "#909399",
						clearabled: true, //是否启用清除控件
						showAction: false, //是否显示右侧控件(右侧的"搜索"按钮)
						leftPic: true, //是否显示左侧图片位置logo
						leftPicWidth: 30,
						leftPicSrc: 'http://market.netsun.testwebsite.cn/Public/Upload/diy/61e12707ca27f.png',
						actionText: "搜索", //右侧控件文字
						borderColor: "#DAAD6D"
					},
					//menu
					{
						type: "menu",
						isWrap: 'nowrap',
						col: "6", //布局类型： 4列或5列
						shape: "square",  //图标形状 circle-圆型  square-方形
						title_color: "#5C4604",
						data: [{
								id: 0,
								title: "标题1",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p1.jpg",
								link: "http://www.baidu.com"
							},
							{
								id: 1,
								title: "标题2",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p2.jpg",
								link: "http://www.baidu.com"
							},
							{
								id: 2,
								title: "标题3",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p3.jpg",
								link: "http://www.baidu.com"
							},
							{
								id: 3,
								title: "标题4",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p4.jpg",
								link: "http://www.baidu.com"
							},
							{
								id: 4,
								title: "标题5",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p5.jpg",
								link: "http://www.baidu.com"
							},
							{
								id: 5,
								title: "标题6",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p6.jpg",
								link: "http://www.baidu.com"
							},
							{
								id: 6,
								title: "标题7",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p6.jpg",
								link: "http://www.baidu.com"
							},
							{
								id: 7,
								title: "标题8",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p6.jpg",
								link: "http://www.baidu.com"
							},
						]
					},
					//swiper
					{
						type: "swiper", //组件类型
						width: 375,
						height: 250,
						diyRadius: 20,
						diyPadding: 20,
						diy: false, //是否使用自定义高度
						diyHeight: 400, //自定义高度值
						data: [
							{
								id: 0,
								image: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p7.jpg",
								link: "http://www.baidu.com"
							},
							{
								id: 1,
								image: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p8.jpg",
								link: "http://www.baidu.com"
							},
							{
								id: 2,
								image: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p9.jpg",
								link: "http://www.baidu.com"
							},
						],
					},
					//shopdiy
					{
						type: 'shopDiy',
						list_bg_color: '#f8f8f8',
						data: []
					},
					//hq
					{
						type: "hq", //选项卡类型资讯列表
						show_bar: "1", //是否显示底部的滑块
						activeColor: "#2979ff", //tabs已激活颜色
						inactiveColor: "#303133", //tabs未激活颜色
						tabs_bg_color: "", //tabs背景颜色
						list_bg_color: "#f8f8f8", //列表背景颜色
						tabsId: [],
						tabs: []
					},
					//news
					{
						type: "news", //选项卡类型资讯列表
						show_bar: "1", //是否显示底部的滑块
						activeColor: "#2979ff", //tabs已激活颜色
						inactiveColor: "#303133", //tabs未激活颜色
						tabs_bg_color: "", //tabs背景颜色
						list_bg_color: "#f8f8f8", //列表背景颜色
						tabsId: [[1]],
						tabs: [
							{
								name: '国内动态', //tabs标题
								data: [
									{
										title: "淮南轴承高精密圆锥滚子车间 被认定为安徽省数字化车间",
										id: '8',
										dtime: '2022-01-06 20:12:37',
										source: '聊城日报'
									},
									{
										title: "398项！人本2021年专利申请和授权量创新高",
										id: '7',
										dtime: '2022-01-06 20:12:37',
										source: '聊城日报'
									},
									{
										title: '临清市：轴承产业迈向中高端',
										id: '6',
										dtime: '2022-01-06 20:12:37',
										source: '聊城日报'
									},
									{
										title: '临清市：轴承产业迈向中高端',
										id: '5',
										dtime: '2022-01-06 20:12:37',
										source: '聊城日报'
									},
									{
										title: "我国自润滑轴承“横空出世”，实现反向输出",
										id: '4',
										dtime: '2022-01-06 20:12:37',
										source: '聊城日报'
									},
								]
							}, 
							
						]
					},
					//menu
					{
						type: "menu",
						isWrap: 'wrap',
						col: "6", //布局类型： 4列或5列
						shape: "square",  //图标形状 circle-圆型  square-方形
						title_color: "#000000",
						data: [{
								id: 0,
								title: "标题1",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p1.jpg",
								link: "http://www.baidu.com"
							},
							{
								id: 1,
								title: "标题2",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p2.jpg",
								link: "http://www.baidu.com"
							},
							{
								id: 2,
								title: "标题3",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p3.jpg",
								link: "http://www.baidu.com"
							},
							{
								id: 3,
								title: "标题4",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p4.jpg",
								link: "http://www.baidu.com"
							},
							{
								id: 4,
								title: "标题5",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p5.jpg",
								link: "http://www.baidu.com"
							},
							{
								id: 5,
								title: "标题6",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p6.jpg",
								link: "http://www.baidu.com"
							},
						]
					},
					//coupon
					{
						type: "coupon", //优惠券
						style: "1", //优惠券样式 1-列表 2-宫格
						bg1_color: "#EFC480", //优惠券渐变色 左
						bg2_color: "#EFC480", //优惠券渐变色 右
						font1_color: "#4F3A1E", //标题颜色
						font2_color: "#A8700D", //描述小字颜色
						btnbg_color: "#FFFFFF", //按钮背景色
						btn_color: "#A8700D", //按钮文本色
						dataId: "", //优惠券的列表id 逗号分隔 "1,2,3,4,5"
						data: [ //优惠券详细数据列表
							{
								id: 1,
								title: "新用户代金券", //名称
								cate: "1", //优惠券类型 1满减券 2瞒折券
								coupon: 99, //优惠券额度
								term: 300, //优惠券使用门槛
								number: 200, //总数量
								receive_num: 55, //已领数量
								time1: '2021-10-11', //使用起始日期
								time2: '2021-10-12', //使用结束日期
							},
							
						]
					},
					//ad
					{
						type: "ad", //广告魔方
						style: "3", //样式1-7
						diy: false, //是否使用自定义高度
						diyHeight: 400, //自定义高度值
						img_num: 3,
						data: [{
								id: 0,
								image: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p1.jpg",
								link: "http://www.baidu.com",
							},
							{
								id: 1,
								image: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p2.jpg",
								link: "http://www.baidu.com",
							},
							{
								id: 2,
								image: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p3.jpg",
								link: "http://www.baidu.com",
							},
							{
								id: 3,
								image: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p4.jpg",
								link: "http://www.baidu.com",
							},
							{
								id: 4,
								image: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p5.jpg",
								link: "http://www.baidu.com",
							},
						]
					},
					//title
					{
						type: "title",
						title: "标题栏",
						titleColor: "#000000",
						bgStyle: "1", //背景样式
						bg: "http://dingxiang.netsun.testwebsite.cn/public/img/title1.png" //自定义背景样式，为空时使用自带背景样式图片
					},
					//menu
					{
						type: "menu",
						col: "5",
						shape: "square",
						title_color: "#000000",
						data: [{
								id: 0,
								title: "标题1",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p1.jpg",
								link: "http://www.baidu.com"
							},
							{
								id: 1,
								title: "标题2",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p2.jpg",
								link: "http://www.baidu.com"
							},
							{
								id: 2,
								title: "标题3",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p3.jpg",
								link: "http://www.baidu.com"
							},
							{
								id: 3,
								title: "标题4",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p4.jpg",
								link: "http://www.baidu.com"
							},
							{
								id: 4,
								title: "标题5",
								url: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p5.jpg",
								link: "http://www.baidu.com"
							},
						]
					},
					//proddiy
					{
						type: "productDiy", //自定义商品
						style: "1", // 1-宫格 2-列表
						col_num: "3", //单行列数
						col_type: '1',
						isPic: '1',
						list_bg_color: "#f8f8f8", //列表背景颜色
						buy_btn_color: "#2979ff", //按钮背景色
						dataId: "", //自定义商品id列表 逗号分隔 "1,2,3,4,5"
						data: [
							{
								id: '246',
								pname: '居家生活北欧风简约水洗棉床上四件套全棉纯棉100夏季被套床单床笠三件套4', //标题
								psub: '100%精梳全棉水洗棉 超柔触感 裸睡佳选', //描述
								pimage: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p1.jpg",
								price: 299,
							},
							{
								id: '245',
								pname: '极简全棉纯棉床上用品四件套现代简约北欧男床单3三件套床笠被套',
								psub: '100%纯棉面料 真133*72高密斜纹喷气款 佳品',
								pimage: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p2.jpg",
								price: 236,
							},
							{
								id: '244',
								pname: '北欧抱枕靠垫沙发靠垫办公室腰靠枕床头靠背垫',
								psub: '天鹅绒抱枕套不含芯',
								pimage: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p3.jpg",
								price: 40,
							},
							{
								id: '192',
								pname: '源氏木语全实木沙发橡木现代简约木沙发客厅家具北欧布艺沙发组合',
								psub: 'FAS级橡木 12cm宽大扶手 橡木铺板 带插座',
								pimage: "http://dingxiang.netsun.testwebsite.cn/mShop/img/p4.jpg",
								price: 8200,
							},
						]
					},
					//prodtabs
					{
						type: "productTabs", //选项卡类型商品列表
						style: "1", // 1-宫格 2-列表
						col_num: "2", //单行列数
						col_type: '1',
						isPic: '1',
						show_bar: "1", //是否显示底部的滑块
						activeColor: "#2979ff", //tabs已激活颜色
						inactiveColor: "#303133", //tabs未激活颜色
						tabs_bg_color: "", //tabs背景颜色
						list_bg_color: "#f8f8f8", //列表背景颜色
						buy_btn_color: "#2979ff", //按钮背景颜色
						tabsId: [],
						tabs: []
					},
					// {
					// 	type: "richtext", //富文本
					// 	dataId: "1",
					// 	data: "<div style='color: #007aff'>富文本段子<image src='http://dingxiang.netsun.testwebsite.cn/mShop/img/p1.jpg'></div>"
					// },
					
				]
			}
			function saveOptions (opt) {
				console.log(opt)
			}
			
		</script>
			
	</head>
	<body>
		<div id="app"></div>
	</body>
</html>
